@{
    ViewBag.Title = "Landing Page";
}


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="home">Home</a></li>
                <li><a ui-sref="students">Students</a></li>
                <li><a ui-sref="instructors">Instructors</a></li>
                <li><a ui-sref="classes">Classes</a></li>
            </ul>
        </div>

    </div>
</div>
<br/>
<div class="container">
    <div ui-view></div>
</div>

<br />




<div class="container body-content">
    <hr />
    <footer>
        <p class="text-center">&copy; @DateTime.Now.Year - TypeScript Angular $resource Walkthrough</p>
    </footer>
</div>
